<div *ngIf="product; else noProductTemplate" class="product-info">
  <div class="image">
    <img src="http://localhost:8080/images/{{ product.filename }}" alt="">
  </div>
  <div class="product">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Cena: {{ product.price }} zł</p>
    <p>Kategoria: {{ product.category }}</p>
    <p>Składniki: {{ product.ingredients }}</p>
    <p>Najniższa cena z ostatnich 30 dni: {{ lowestPriceLast30Days }} zł</p>
  </div>
  <div class="buttons">
    <button class="btn-primary" (click)="addToCart(product)">Dodaj do koszyka</button>
    <button class="btn-primary" (click)="addToObserved(product)">Obserwuj</button>
  </div>
</div>

<ng-template #noProductTemplate>
  <p class="alert-danger">Nie znaleziono produktu.</p>
</ng-template>
