<div *ngIf="product; else noProductTemplate" class="product-info">
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>Cena: {{ product.price }} zł</p>
  <p>Kategoria: {{ product.category }}</p>
  <p>Składniki: {{ product.ingredients }}</p>

  <div *ngIf="product.priceHistories && product.priceHistories.length">
    <h3>Historia cen:</h3>
    <ul>
      <li *ngFor="let history of product.priceHistories">
        {{ history.date }}: {{ history.price }} zł
      </li>
    </ul>
  </div>

  <button class="btn-primary" (click)="addToCart(product)">Dodaj do koszyka</button>
  <button class="btn-primary"(click)="addToObserved(product)">Obserwuj</button>
</div>

<ng-template #noProductTemplate>
  <p class="alert-danger">Nie znaleziono produktu.</p>
</ng-template>
