<div *ngIf="product; else noProductTemplate">
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>{{ product.price }}</p>
  <p>Kategoria: {{ product.category }}</p>
  <p>Składniki: {{ product.ingredients }}</p>


  <div *ngIf="!(product) || product.priceHistories && product.priceHistories.length">
    <h3>Price History:</h3>
    <ul>
      <li *ngFor="let history of product?.priceHistories">
        {{ history.date  }}: {{ history.price }}
      </li>
    </ul>
  </div>

  <button (click)="addToCart(product)">Dodaj do koszyka</button>
  <button (click)="addToObserved(product)">Obserwuj</button>
</div>

<ng-template #noProductTemplate>
  <p>Nie znaleziono produktu.</p>
</ng-template>
