<div class="container">
  <h2>Add Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <div *ngIf="productForm.get('name')?.errors?.['required']" class="alert alert-danger">
        Product name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" class="form-control" formControlName="price">
      <div *ngIf="productForm.get('price')?.errors?.['required']" class="alert alert-danger">
        Price is required.
      </div>
      <div *ngIf="productForm.get('price')?.errors?.['min']" class="alert alert-danger">
        Price must be a positive number.
      </div>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" class="form-control" formControlName="quantity">
      <div *ngIf="productForm.get('quantity')?.errors?.['required']" class="alert alert-danger">
        Quantity is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lowestPriceInLast30Days">Lowest Price in Last 30 Days:</label>
      <input type="number" id="lowestPriceInLast30Days" class="form-control" formControlName="lowestPriceInLast30Days">
    </div>

    <div class="form-group">
      <label for="dateOfLowestPrice">Date of Lowest Price:</label>
      <input type="date" id="dateOfLowestPrice" class="form-control" formControlName="dateOfLowestPrice">
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <select id="category" class="form-control" formControlName="category">
        <option *ngFor="let category of productCategories" [value]="category">{{ category }}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="ingredients">Ingredients:</label>
      <input type="text" id="ingredients" class="form-control" formControlName="ingredients">
    </div>

    <div class="form-group">
      <label for="filename">Image Filename:</label>
      <input type="text" id="filename" class="form-control" formControlName="filename">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
  </form>
</div>
