<div class="container">
  <h2>Dodawanie produktu</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nazwa:</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <div *ngIf="productForm.get('name')?.errors?.['required']" class="alert alert-danger">
        Nazwa produktu jest wymagana!
      </div>
    </div>

    <div class="form-group">
      <label for="price">Cena:</label>
      <input type="number" id="price" class="form-control" formControlName="price">
      <div *ngIf="productForm.get('price')?.errors?.['required']" class="alert alert-danger">
        Cena musi być podana!
      </div>
      <div *ngIf="productForm.get('price')?.errors?.['min']" class="alert alert-danger">
        Cena musi być liczbą dodatnią!
      </div>
    </div>
    <div class="form-group">
      <label for="quantity">Ilość:</label>
      <input type="number" id="quantity" class="form-control" formControlName="quantity">
      <div *ngIf="productForm.get('quantity')?.errors?.['required']" class="alert alert-danger">
        Podanie ilości jest wymagane!
      </div>
    </div>

    <div class="form-group">
      <label for="category">Kategoria:</label>
      <select id="category" class="form-control" formControlName="category">
        <option *ngFor="let category of productCategories" [value]="category">{{ category }}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="ingredients">Składniki:</label>
      <input type="text" id="ingredients" class="form-control" formControlName="ingredients">
    </div>

    <div class="form-group">
      <label for="filename">Obraz:</label>
      <input type="file" id="filename" class="form-control" (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Dodaj produkt</button>

  </form>
</div>
