<div class="container" *ngIf="authService.isAdministrator()">
  <h2>Lista produktów</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>
        <input type="number" [(ngModel)]="product.newPrice" [min]="0" class="form-control" placeholder="Nowa cena">
      </td>
      <td>
        <button class="btn btn-primary" (click)="product.newPrice !== undefined && changePrice(product.idProduct, product.newPrice)">Zmień cenę</button>
        <button class="btn btn-danger" (click)="deleteProduct(product.idProduct)">Usuń</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
