.product-tile img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin: auto;
}

p {
  margin: 2px;
}

i:hover {
  color: #85d4f6;
  cursor: pointer;
}

.fa-heart-circle-plus {
  float: right;
}
