<div class="main-container">
  <div class="sidebar" (click)="toggleFilters($event)">
    <h2 class="sidebar-header">FILTRY</h2>
    <div class="sorting-container">
      <select [(ngModel)]="selectedCategory" (change)="filterProducts()" class="category-select">
        <option value="">Wszystkie kategorie</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>

      <select [(ngModel)]="sortOrder" (change)="filterProducts()" class="sorting-select">
        <option value="">Sortowanie</option>
        <option value="name-asc">Sortuj po nazwie (A-Z)</option>
        <option value="name-desc">Sortuj po nazwie (Z-A)</option>
        <option value="price-asc">Sortuj po cenie rosnąco</option>
        <option value="price-desc">Sortuj po cenie malejąco</option>
      </select>

      <label for="minPrice">Cena minimalna</label>
      <input [min]="minPriceStart" [(ngModel)]="minPrice" type="number" id="minPrice" (change)="filterProducts()">

      <label for="maxPrice">Cena maksymalna</label>
      <input [max]="maxPriceStart" [(ngModel)]="maxPrice" type="number" id="maxPrice" (change)="filterProducts()">


    </div>
  </div>
  <div class="product-container">
    <div *ngFor="let product of filteredProducts" class="product-tile">
      <app-product-tile [product]="product"></app-product-tile>
    </div>
  </div>
<div>
    <ng-template #noProductsTemplate>
      <p class="alert-danger">Brak dostępnych produktów.</p>
    </ng-template>
  </div>
</div>
