<div>
  <select [(ngModel)]="sortOrder" (change)="sortProducts()">
    <option value="">Sortowanie</option>
    <option value="name-asc">Sortuj po nazwie(A-Z)</option>
    <option value="name-desc">Sortuj po nazwie(Z-A)</option>
    <option value="price-asc">Sortuj po cenie rosnąco</option>
    <option value="price-desc">Sortuj po cenie malejąco</option>
  </select>
</div>
<div *ngIf="products.length > 0; else noProductsTemplate">
  <div *ngFor="let product of products" class="product-item">
    <a [routerLink]="['/product', product.idProduct]">
    <app-product-tile [product]="product"></app-product-tile>
    </a>
    <button (click)="addToObserved(product.idProduct)">Obserwuj</button>
  </div>
</div>
<ng-template #noProductsTemplate>
  <p>Brak dostępnych produktów.</p>
</ng-template>
