<div class="main-container">
  <div class="sidebar">
    <div class="sorting-container">
      <select [(ngModel)]="selectedCategory" (change)="filterByCategory()" class="category-select">
        <option value="">Wszystkie kategorie</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>

      <select [(ngModel)]="sortOrder" (change)="sortProducts()" class="sorting-select">
        <option value="">Sortowanie</option>
        <option value="name-asc">Sortuj po nazwie (A-Z)</option>
        <option value="name-desc">Sortuj po nazwie (Z-A)</option>
        <option value="price-asc">Sortuj po cenie rosnąco</option>
        <option value="price-desc">Sortuj po cenie malejąco</option>
      </select>
    </div>

  </div>
  <div class="product-container">
    <div *ngFor="let product of filteredProducts" class="product-tile">
      <app-product-tile [product]="product"></app-product-tile>
    </div>
  </div>
<div>
    <ng-template #noProductsTemplate>
      <p class="alert-danger">Brak dostępnych produktów.</p>
    </ng-template>
  </div>
</div>
