.table-container {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}



@media (max-width: 600px) {
  th, td {
    padding: 8px;
  }
}
