<div>
  <h6 style="text-align: center">Nie masz konta?</h6>
  <h6 style="text-align: center"><a class="nav-link" href="/register">Zarejestruj się</a></h6>
</div>
<form [formGroup]="loginForm" (submit)="login()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Zaloguj</button>
</form>
