<div class="cart-container">
  <h2>Twój Koszyk</h2>
  <div *ngIf="cartItems.length === 0">Twój koszyk jest pusty!</div>
  <ul *ngIf="cartItems.length > 0">
    <li *ngFor="let item of cartItems">
      <img src="http://localhost:8080/images/{{ item.product.filename }}" alt="" width="120" height="90">
      <div>{{ item.product.name }} - {{ item.product.price }} zł ({{ item.quantity }})</div>
      <button class="cart-btn" (click)="changeQuantity(item.product.idProduct, item.quantity + 1)">+</button>
      <button class="cart-btn" (click)="changeQuantity(item.product.idProduct,item.quantity - 1)" [disabled]="item.quantity <= 1">-</button>
      <button (click)="removeFromCart(item.idCartProduct)">Usuń</button>
    </li>
  </ul>
  <div class="total">Całkowity koszt: {{ total }} zł</div>
  <button [disabled]="cartItems.length == 0" class="btn-primary cart-btn" (click)="placeOrder()">Złóż zamówienie</button>
  <button [disabled]="cartItems.length == 0" class="btn-primary cart-btn" (click)="clearCart()">Wyczyść koszyk</button>
</div>
