<div class="form-container">
  <form [formGroup]="registerForm" (submit)="register()">
    <div>
      <label class="form-tittle">Rejestracja</label>
    </div>
    <div>
      <label for="firstName">Imię</label>
      <input type="text" id="firstName" formControlName="firstName">
    </div>
    <div>
      <label for="lastName">Nazwisko</label>
      <input type="text" id="lastName" formControlName="lastName">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email">
    </div>
    <div>
      <label for="password">Hasło</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <div>
      <label for="street">Ulica</label>
      <input id="street" formControlName="street">
    </div>
    <div>
      <label for="houseNumber">Nr domu</label>
      <input id="houseNumber" formControlName="houseNumber">
    </div>
    <div>
      <label for="city">Miasto</label>
      <input id="city" formControlName="city">
    </div>
    <div>
      <label for="zipcode">Kod pocztowy</label>
      <input id="zipcode" formControlName="zipcode">
    </div>
    <button type="submit">Dodaj</button>
  </form>
</div>
